<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Title</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light " style="background: #00F260; background:-webkit-linear-gradient(to right, #0575E6, #00F260);background: linear-gradient(to right, #0575E6, #00F260);">
  <div class="container-fluid">
    <a href="/#/"><img src="{%static 'hospital.png'%}" alt="Paris" width="37" height="37"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"style="margin-left:700px;color:black;font-size: 22px;" href="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="margin-left:20px;color:black" href="/doctor/"><u>Doctor</u> <br>consult online</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="margin-left:20px;color:black" href="/pharmacy/"><u>Pharmacy</u><br> Medicines</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" style="margin-left:20px;color:black" href="/lab/"><u>Lab Tests</u><br> Health Checkup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " style="margin-left:20px;color:black" href="/prediction/" tabindex="-1" aria-disabled="true"><u>Prediction</u></a>
        </li>
        <li class="nav-item">
            <a class="nav-link " style="margin-left:20px;color:black" href="/#/" tabindex="-1" aria-disabled="true"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
</svg><u>MyCart</u></a>
        </li>
          <li class="nav-item">
          <a class="btn btn-danger" style="margin-left: 20px;font-size: 22px;"  href="/logout/">logout</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
{%block content%}
{%endblock%}
</body>

</html>